@model ECommerce.Data.Models.user

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>user</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DTYPE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DTYPE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.idUser)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.idUser)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.blocked)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.blocked)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.firstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.firstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.login)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.login)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.password)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.password)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.confirmPassword)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.confirmPassword)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.sexe)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sexe)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.idPicture)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.idPicture)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.idUser }) |
    @Html.ActionLink("Back to List", "Index")
</p>
