@model ECommerce.Data.Models.address

@{
    ViewBag.Title = "EditStep2";
}

<h2>Edit</h2>

@using (Html.BeginForm("ValidateEdit", "Users", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Edit your address</h4>
        <hr />
        @Html.ValidationSummary(true)
      
        <div class="form-group">
            @Html.LabelFor(model => model.city, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.city)
                @Html.ValidationMessageFor(model => model.city)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.country, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.country)
                @Html.ValidationMessageFor(model => model.country)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.number, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.number)
                @Html.ValidationMessageFor(model => model.number)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.postalCode, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.postalCode)
                @Html.ValidationMessageFor(model => model.postalCode)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.street, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.street)
                @Html.ValidationMessageFor(model => model.street)
            </div>
        </div>

       
        <div class="form-group">
            <div class="control-label col-md-2"> Governorate</div>
            <div class="col-md-10">
                <input type="text" name="governorate" />
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
